{
  "svelteSortOrder": "scripts-styles-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 90,
  "endOfLine": "lf"
}
