@import '../../styles/variables';

$textarea-line-height: 1.75rem !default;
$textarea-min-height: 32px !default;
$textarea-padding: 0 !default;
$textarea-icon-margin-top: 2px !default;
$textarea-filled-icon-margin-top: 28px !default;
$textarea-outlined-icon-margin-top: 18px !default;
$textarea-solo-icon-margin-top: 8px !default;
