@import "./variables";

.s-btn {
  align-items: center;
  border-radius: $btn-border-radius;
  display: inline-flex;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  outline: 0;
  justify-content: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  transition-duration: $btn-transition-duration;
  transition-property: box-shadow, transform, opacity;
  color: #ffffff;

  &:not(.s-btn--outlined):not(.s-btn--text):not(.s-btn--disabled) {
    background-color: $primary-color;
  }

  @include elevation(2);

  &:before {
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: $btn-transition;
    background-color: currentColor;
  }

  @each $name, $size in $btn-font-sizes {
    &.s-btn--size-#{$name} {
      font-size: $size;
    }
  }

  @each $name, $size in $btn-sizes {
    &.s-btn--size-#{$name} {
      height: #{$size}px;
      min-width: #{round($size * 1.777777777777778)}px; // default ratio
      padding: 0 #{$size / 2.25}px;
    }
  }

  &:not(.s-btn--text):not(.s-btn--outlined):not(.s-btn--disabled) {
    &:hover::before {
      opacity: $btn-hover-opacity;
    }
    &.v-btn--active::before {
      opacity: $btn-active-opacity;
    }
    &:focus::before {
      opacity: $btn-focus-opacity;
    }
  }

  &:not(.s-btn--disabled):not(.s-btn--depressed) {
    will-change: box-shadow;
  }

  &.s-btn--block {
    display: flex;
    flex: 1 0 auto;
    min-width: 100% !important;
    max-width: auto;
  }
  &.s-btn--tile {
    border-radius: 0;
  }
  &.s-btn--text {
    background-color: transparent;
    color: $primary-color;
    box-shadow: none;
  }
  &.s-btn--depressed {
    box-shadow: none !important;
  }
  &.s-btn--outlined {
    border: 1px solid $primary-color;
    color: $primary-color;
  }
  &.s-btn--rounded {
    border-radius: map-get($rounded, "pill");
  }

  &.s-btn--disabled {
    box-shadow: none;
    pointer-events: none;
  }

  &.s-btn--fab {
    border-radius: 50%;
    min-width: 0;
    min-height: 0;
    padding: 0;
    @each $size, $value in $fab-sizes {
      &.s-btn--size-#{$size} {
        height: #{$value}px;
        width: #{$value}px;
      }
    }
    @each $name, $size in $fab-icon-sizes {
      &.s-btn--size-#{$name} {
        font-size: #{$size}px;
      }
    }
  }

  .s-btn__content {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    color: inherit;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    font-size: inherit;
  }
}

@include theme(s-btn) using ($material) {
  &.s-btn--disabled {
    background-color: map-deep-get($material, "buttons", "disabled");
    color: map-deep-get($material, "buttons", "disabled");
  }
}
