@import "./variables";

.s-list {
  background: var(--theme-cards);
  color: var(--theme-text-primary);
  display: block;
  padding: $list-padding;
  padding-top: $list-subheader-padding-top;
  position: static;
  &.nav {
    padding-left: $list-nav-padding-left;
    padding-right: $list-nav-padding-right;
    :global {
      .s-list-item {
        padding: $list-nav-item-padding;
        &::before {
          border-radius: $list-nav-border-radius;
        }
      }
    }
  }
  &.rounded {
    padding: 8px;
    :global {
      .s-list-item {
        border-radius: 32px !important;
        &::before {
          border-radius: 32px !important;
        }
      }
    }
  }
  &.nav,
  &.rounded {
    :global {
      .s-list-item:not(:last-child):not(:only-child) {
        margin-bottom: $list-nav-rounded-item-margin-bottom;
      }
    }
    &.dense {
      :global {
        .s-list-item:not(:last-child):not(:only-child) {
          margin-bottom: $list-nav-rounded-dense-item-margin-bottom;
        }
      }
    }
  }
  &.flat {
    :global {
      .s-list-item::before {
        display: none;
      }
    }
  }
  &.dense {
    .subheader {
      font-size: $list-dense-subheader-font-size;
      height: $list-dense-subheader-height;
      padding: $list-dense-subheader-padding;
    }
    :global {
      .s-list-item {
        min-height: $list-dense-min-height ;
        .content {
          padding: $list-dense-content-padding !important;
        }
        .title,
        .subtitle {
          font-size: $list-item-dense-title-font-size !important;
          font-weight: $list-item-dense-title-font-weight;
          line-height: $list-item-dense-title-line-height !important;
        }
      }
    }
  }
  &.disabled {
    pointer-events: none;
    color: var(--theme-text-disabled);
  }

  .subheader {
    align-items: center;
    display: flex;
    height: 48px;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0 16px;
    color: var(--theme-text-secondary);
  }
}
