code[class*="language-"],
pre[class*="language-"] {
  color: #696969;
  background: #fafafa;
}

code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  background: #cceae7;
  color: #263238;
}

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
  background: #cceae7;
  color: #263238;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
  color: #f76d47;
}

.token.atrule {
  color: #7c4dff;
}

.token.attr-name {
  color: #39adb5;
}

.token.attr-value {
  color: #f4511e;
}

.token.attribute {
  color: #f4511e;
}

.token.boolean {
  color: #7c4dff;
}

.token.builtin {
  color: #39adb5;
}

.token.cdata {
  color: #39adb5;
}

.token.char {
  color: #39adb5;
}

.token.class {
  color: #39adb5;
}

.token.class-name {
  color: #6182b8;
}

.token.comment {
  color: #aabfc9;
}

.token.constant {
  color: #3f51b5;
}

.token.deleted {
  color: #d32f2f;
}

.token.doctype {
  color: #aabfc9;
}

.token.entity {
  color: #d32f2f;
}

.token.function {
  color: #7c4dff;
}

.token.hexcode {
  color: #f76d47;
}

.token.id {
  color: #7c4dff;
  font-weight: bold;
}

.token.important {
  color: #7c4dff;
  font-weight: bold;
}

.token.inserted {
  color: #39adb5;
}

.token.keyword {
  color: #7c4dff;
}

.token.number {
  color: #f76d47;
}

.token.operator {
  color: #39adb5;
}

.token.prolog {
  color: #aabfc9;
}

.token.property {
  color: #39adb5;
}

.token.pseudo-class {
  color: #f4511e;
}

.token.pseudo-element {
  color: #f4511e;
}

.token.punctuation {
  color: #39adb5;
}

.token.regex {
  color: #6182b8;
}

.token.selector {
  color: #d32f2f;
}

.token.string {
  color: #f4511e;
}

.token.symbol {
  color: #7c4dff;
}

.token.tag {
  color: #d32f2f;
}

.token.unit {
  color: #f76d47;
}

.token.url {
  color: #d32f2f;
}

.token.variable {
  color: #d32f2f;
}
