@import './variables';

.s-switch__track,
.s-switch__thumb {
  background-color: currentColor;
  pointer-events: none;
  transition: inherit;
}

.s-switch__track {
  color: var(--theme-controls-track-inactive);
  border-radius: $switch-track-border-radius;
  width: $switch-track-width;
  height: $switch-track-height;
  left: $switch-track-x;
  position: absolute;
  opacity: $switch-track-opacity;
  right: $switch-track-x;
  top: $switch-track-top;
}

.s-switch__thumb {
  color: var(--theme-controls-thumb-inactive);
  border-radius: 50%;
  top: $switch-thumb-top;
  height: $switch-thumb-height;
  position: relative;
  width: $switch-thumb-width;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $primary-transition;
  @include elevation(4);

  &::before {
    background: currentColor;
    transform: scale(2);
    opacity: 0.2;
    border-radius: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: none;
    transform-origin: center center;
    content: '';
  }
}

input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: pointer;

  &:checked + .s-switch__thumb {
    transform: translate($switch-dirty-offset-x);
  }
}

.s-switch__wrapper {
  width: $switch-width;
  display: inline-flex;
  flex: 0 0 auto;
  height: 24px;
  position: relative;
  transition: $primary-transition;

  &:hover {
    .s-switch__thumb::before {
      display: block;
    }
  }
}

.s-switch {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  position: relative;

  &.dense {
    .s-switch__thumb {
      width: $switch-thumb-dense-width;
      height: $switch-thumb-dense-height;
    }

    .s-switch__track {
      height: $switch-track-dense-height;
      width: $switch-track-dense-width;
    }
  }

  &.disabled {
    opacity: $switch-disabled-opacity;

    .s-switch__thumb {
      color: var(--theme-controls-thumb-disabled);
    }

    .s-switch__track {
      color: var(--theme-controls-track-disabled);
    }
  }
}

label {
  margin-left: 8px;
}
