@import './variables';

.s-menu-wrapper {
  position: relative;
  display: inline-block;
}

.s-menu {
  background-color: var(--theme-surface);
  backface-visibility: hidden;
  position: absolute;
  contain: content;
  overflow: auto;
  @include elevation($menu-content-elevation);

  &:not(.tile) {
    border-radius: $menu-content-border-radius;
  }
}
