@import './variables';

.s-menu__wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  [slot='activator'] {
    width: 100%;
  }
}

.s-menu {
  background-color: var(--theme-surface);
  backface-visibility: hidden;
  position: absolute;
  contain: content;
  max-height: $menu-max-height;
  overflow: auto;
  @include elevation($menu-content-elevation);

  &:not(.tile) {
    border-radius: $menu-content-border-radius;
  }
}
