a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 64px;
}
.text-mono {
  font-family: "Fira Code", "Roboto Mono", "Consolas", monospace;
}
pre,
samp,
code,
kbd {
  font-family: "Fira Code", "Roboto Mono", "Consolas", monospace;
}
