@import '../../styles/variables';

$btn-group-border-radius: $border-radius-root !default;
$btn-group-btn-padding: 0 12px !default;
$btn-group-btn-opacity: 0.8 !default;
$btn-group-round-border-radius: 24px !default;
