@import "../../styles/variables";

$btn-group-border-radius: $border-radius-root !default;
$btn-group-shaped-border-radius: 24px !default;
$btn-group-btn-height: 48px !default;
$btn-group-btn-padding: 0 12px !default;
$btn-group-btn-margin: 4px !default;
$btn-group-btn-width: 48px !default;
$btn-group-btn-opacity: 0.8 !default;
$btn-group-round-border-radius: 24px !default;
$btn-group-dense-btn-padding: 0 8px !default;
