// @use "./tools/functions" as *;
@use "./variables" as *;

@each $name,
  $material in ("light": $material-light-theme, "dark": $material-dark-theme)
{
  .theme--#{$name} {
    --theme-surface: #{map-deep-get($material, "surface")};

    --theme-text-primary: #{map-deep-get($material, "text", "primary")};
    --theme-text-secondary: #{map-deep-get($material, "text", "secondary")};
    --theme-text-disabled: #{map-deep-get($material, "text", "disabled")};

    --theme-icons-active: #{map-deep-get($material, "icons", "active")};
    --theme-icons-inactive: #{map-deep-get($material, "icons", "inactive")};

    --theme-buttons-disabled: #{map-deep-get($material, "buttons", "disabled")};
    --theme-dividers: #{map-deep-get($material, "dividers")};
    --theme-app-bar: #{map-get($material, "app-bar")};

    background-color: var(--theme-surface);
    color: var(--theme-text-primary);

    a {
      color: map-deep-get($material, "text", "link");
    }
    .text--primary {
      color: var(--theme-text-primary);
    }
    .text--secondary {
      color: var(--theme-text-secondary);
    }
    .text--disabled {
      color: var(--theme-text-disabled);
    }
  }
}
