@import "./variables";

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.s-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  @each $size, $value in $icon-sizes {
    &.s-icon--size-#{$size} {
      font-size: $value;
    }
  }
}

@include theme(s-icon) using ($material) {
  color: map-deep-get($material, "icons", "active");
  &.inactive {
    color: map-deep-get($material, "icons", "inactive");
  }
}
