@import './variables';

.s-list-group {
  flex: 0 1 auto;
  position: relative;
  max-width: 100%;

  .s-list-item.active {
    color: inherit;
  }

  &.disabled {
    pointer-events: none;
    color: var(--theme-text-disabled);
  }

  &.offset {
    .s-list-item {
      padding-left: var(--s-list-group-offset) !important;
    }
  }
}
