@import './variables';

.s-list {
  color: var(--theme-text-primary);
  display: block;
  padding: $list-padding;
  padding-top: $list-padding-top;
  position: static;

  .s-subheader {
    padding-top: $list-subheader-padding-top;
  }

  .s-list-item.active {
    color: inherit;
  }

  &.disabled {
    pointer-events: none;
  }

  &.dense {
    .s-subheader {
      font-size: $list-dense-subheader-font-size;
      height: $list-dense-subheader-height;
      padding: $list-dense-subheader-padding;
    }
  }

  &.rounded {
    padding: 8px;

    .s-list-item {
      border-radius: 32px !important;
    }
  }

  &.nav {
    padding-left: $list-nav-padding-left;
    padding-right: $list-nav-padding-right;

    .s-list-item {
      padding: $list-nav-item-padding;
      border-radius: $list-nav-border-radius;

      &::before {
        border-radius: $list-nav-border-radius;
      }
    }
  }

  &.nav,
  &.rounded {
    .s-list-item:not(:last-child):not(:only-child) {
      margin-bottom: $list-nav-rounded-item-margin-bottom;
    }

    .s-list-item.dense:not(:last-child):not(:only-child) {
      margin-bottom: $list-nav-rounded-dense-item-margin-bottom;
    }
  }

  &.outlined {
    border: thin solid var(--theme-dividers);
  }

  &.flat {
    .s-list-item::before {
      display: none;
    }
  }
}
