@import '../../styles/tools/breakpoints';
@import '../../styles/variables';

$grid-breakpoint-names: map-keys($grid-breakpoints);

.s-fluid-grid.container {
  display: flex;
  flex-wrap: wrap;

  & > .item {
    @each $grid-breakpoint-name in $grid-breakpoint-names {
      @media (min-width: map-get($grid-breakpoints, $grid-breakpoint-name)) {
        &.#{$grid-breakpoint-name}-auto {
          flex-grow: 1;
          min-width: 0;
          width: 0;
        }

        @for $i from 1 through $grid-columns {
          &.#{$grid-breakpoint-name}-#{$i} {
            width: percentage($i / $grid-columns);
          }
        }
      }
    }
  }

  @for $i from 1 through 16 {
    &.spacing-#{$i} {
      margin: -$spacer * $i;

      & > .item {
        padding: $spacer * $i;
      }
    }
  }
}
