@import '../../styles/variables';

.s-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-right: -$grid-gutter / 2;
  margin-left: -$grid-gutter / 2;

  &.dense {
    margin-right: -$form-grid-gutter / 2;
    margin-left: -$form-grid-gutter / 2;

    > .s-col {
      padding: $form-grid-gutter / 2;
    }
  }

  &.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .s-col {
      padding: 0;
    }
  }
}
